---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { MarkdownHeading } from "astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();

// TODO: process nested headings
---

<Layout title={post.title}>
  <article class="py-20">
    <section class="desktop:sidebar desktop:top-0">
      <h1>{post.data.title}</h1>
      <p>
        {post.data.pubDate.toLocaleDateString()}
      </p>
      {
        headings.length > 0 && (
          <div class="hidden desktop:block">
            <h3>Contents</h3>
            <ul>
              {headings.map((heading: MarkdownHeading) => (
                <li>
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </section>
    <Content />
    <section class="desktop:sidebar desktop:bottom-24">
      <a href="/">← Home</a>
    </section>
  </article>
</Layout>
