---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { MarkdownHeading } from "astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();

// TODO: process nested headings
---

<Layout title={post.title}>
  <section class="sidebar top-0">
    <h1>{post.data.title}</h1>
    <p>
      {post.data.date.toLocaleDateString()}
    </p>
    <h3>Contents</h3>
    <ul class="list-inside">
      {
        headings.map((heading: MarkdownHeading) => (
          <li class="italic">
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))
      }
    </ul>
  </section>
  <article class="py-20">
    <Content />
  </article>
  <section class="sidebar bottom-20">
    <a href="/" class="mt-8">← Home</a>
  </section>
</Layout>

<style>
  .sidebar {
    @apply fixed left-8 w-[20vw];
  }
</style>
